#button{
    position: absolute;
}
#count {
    text-align: center;
    line-height: 30px;
    font-size: 60px;
    height: 60px;
    position: absolute;
}
#field{
    background-color: khaki;
    margin-left: auto;
    margin-right: auto
}

#racketL{
    background-color: seagreen ;
}
#racketR{
    background-color: darkblue ;
}

#ball{
    position: absolute;
    border-radius: 50% ;
    background-color: #f02137;
}

